.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 24px;
    min-height: 100vh;
}

.logo {
    font-size: 30px;
}

.footer p {
    font-size: 12px;
}

.footer a {
    font-size: 12px;
    text-decoration: underline;
}

.main h1 {
    margin-bottom: 16px;
}
